* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0% 25% 0% 25%;
    font-family: sans-serif;
    gap: 50px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

header {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    height: 150px;

}
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    row-gap: 25px;
    column-gap: 50px;
}

article {
    display: grid;
    grid-template-rows: 200px auto 50px;
    row-gap: 10px;
    padding: 15px;
}

article div {
    display: grid;
    grid-template-columns: 1fr;
}

article p {
    color: rgb(67, 133, 255);
}

button {
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    background-color: rgb(67, 133, 255);
    border: none;
    border-radius: 10px;
    color: white;
}

footer {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    justify-items: center;
    align-items: center;
    height: 250px;
    padding: 50px;
}
footer img {
    width: 150px;
}

hr {
    width: 100%;
}